<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加管理员</title>
    <link href=" http://localhost:8888/ref/css/login.css" rel="stylesheet">

</head>
<body>
<form class="box" action="/api/user/register" method="post" >
    <h1>添加管理员</h1>
    <input type="text" name="username" placeholder="请输入用户名">
    <input type="text" name="nickname" placeholder="请输入昵称">
    <input type="password" name="password" placeholder="请输入密码">
    <input type="text" name="imgsrc" placeholder="头像框">
    <input type="submit" value="添加">
</form>
</body>
</html>