<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Admin</title>
    <!-- 引入字体图标 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="http://localhost:8888/ref/css/admin-homepage.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <p style="display: inline; text-align:center; color: #0e0c0c">订单管理</p>
    </label>
    <ul>
        <li>
            <img src="http://localhost:8888/ref/css/image/admin-image.png" alt="">
            <span>欢迎您！管理员</span>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/adminpage">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>后台首页</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/admingoods">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <span>商品管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/adminuser">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/adminorders">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>订单管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/adminadmin">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>管理员管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/admindb"  target="_parent">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span>数据库管理</span>
            </a>
        </li> <li>
        <a href="http://localhost:8888/temapi/admincategory">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            <span>类别管理</span>
        </a>
    </li>

    </ul>
    <div class="main">
        我是内容区
    </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>