<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品更新</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="http://localhost:8888/ref/css/table.css" rel="stylesheet">
    <link href="http://localhost:8888/ref/css/admin-button.css" rel="stylesheet">
    <link href="http://localhost:8888/ref/css/admin-homepage.css" rel="stylesheet">
    <script type="text/javascript" src="http://localhost:8888/ref/js/check.js"></script>
</head>
<body>
<div class="navbar">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <p style="display: inline; text-align:center; color: #0e0c0c">用户信息修改</p>
    </label>
    <ul>
        <li>
            <img src="http://localhost:8888/ref/css/image/admin-image.png" alt="">
            <span>欢迎您！管理员</span>
        </li>

        <li>
            <a href="http://localhost:8888/temapi/allProducts">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <span>商品管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/allUsers">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/adminorders">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>订单管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/adminadmin">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>管理员管理</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8888/temapi/admindb"  target="_parent">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span>数据库管理</span>
            </a>
        </li> <li>
        <a href="http://localhost:8888/temapi/admincategory">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            <span>退出系统</span>
        </a>
    </li>

    </ul>
    <div class="main">
        <div style="position: absolute;width: 98%;height:150px;top:0px; ">
        </div>

        <div style="overflow: auto; position: absolute; width: 100%;height: 550px;top:100px;" >
            <form class="box"   th:action="@{/temapi/userUpdate}" th:object="${users}"  method="post">
                <input type="hidden" name="id" th:value="*{id}" />

                <p class="pt">用户账号:</p>
                <input type="text" class="form-control" name="username"  id="username" th:value="*{username}" placeholder="修改名称"/>

                <p class="pt">用户昵称:</p>
                <input type="text" class="form-control" name="nickname"  id="nickname" th:value="*{nickname}" placeholder="修改昵称"/>
                <!--<p class="pt">商品价格：</p>
                &lt;!&ndash;                        商品价格始终为正数&ndash;&gt;
                <input type="number" class="form-control" name="password" id="password"  th:value="*{password}" placeholder="修改价格" step="1" min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''">-->

                <p class="pt">用户电话：</p>
                <input type="text" class="form-control" name="mobile" id="phone"  th:value="*{mobile}"  onblur="checkPhone()" placeholder="修改手机号"/>
                <p class="pt">用户地址：</p>
                <input type="text" class="form-control" name="address" id="address"  th:value="*{address}" placeholder="修改地址"/>

                <p class="pt">用户邮箱：</p>
                <input type="text" class="form-control" name="email" id="e-mail"  th:value="*{email}" onblur="check_email()" placeholder="修改email"/>

                <input type="submit" value="修改" class="GN"  onclick="update()" style="margin-left: 650px; margin-top: 10px ;border-radius: 5px"/>
                <a href="/toAdd" th:href="@{/temapi/allUsers}" class="btn btn-info" style="margin-left:60px">返回</a>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function update(){
        alert("修改成功！")
    }
</script>
</body>
</html>